{% extends 'base.html' %}

 


{% block maincontent %}
<section class="cta">

  <h1>
 
Our online wolves fix bugs<br>and suggest new features to enhance your website.<br><br>
<button class="btn2" style="vertical-align:middle" >Sign Up</button>
</h1>

</section>
<br><br><br>

<div class="row" style="padding-top: 50px" style="padding-bottom: 50px">

<div class="why col-md-3 zindex-1" media="screen and (min-width: 900px)">
  
  <h4 class="uppercase heading bold">Our bug and issue tracking software</h4>
  
  <p style="text-align: justify" class="servicecontent">Our online wolves coders can get the scent of a bug a mile away, capture it and therefore make your website bug free so your can get on with running your projects.</p>
  
   <br><br>
  <h4 class="uppercase heading bold ">We offer great features</h4>
  
  <p style="text-align: justify" class="servicecontent">We offer top quality features such as tailor made project management service to get your project on the right track, in line with your goals and on time.</p>
  
</div>


<div class="col-md-6 t-center zindx-0 container3" style="height:100%"><a href="{% url 'features' %}"><img src="/static/img/main-features.png" style="width:75%"></a></img></div>


<div class="why col-md-3 zindex-1" media="screen and (min-width: 900px)">
  
  <h4 class="uppercase heading bold">We provide great support</h4>
  
  <p style="text-align: justify" class="servicecontent">The support we offer to our customers is second to none. Our online wolves reply to any of your issues within the day and advice on the best features moving forward to make your website running smoothly.</p>
  
  <br><br>
  <h4 class="uppercase heading bold">Join the community</h4>
  
  <p style="text-align: justify" class="servicecontent">Our numbers of members is growing by the month and the are eger to fix bugs, solve problems and make life that little bit easier. The benefit of a online community is a problem shared, a problem is therefore half.</p>
  
</div>

</div>




<div class="mountain ">
  
  <div class="blankbox">
    <div ><br><br>
    <h2>What makes us special</h2>
    <p>Our online wolves track down and capture any bugs, and then give you the best advice and support about features that will make your website run smoothly.
    </p>
   
    <button class="btn1" style="vertical-align:middle">Sign Up</button>
    </div>
 </div>
 <br><br>
</div>



 <section class="showcase">
<div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 mb-0  text-white showcase-img" style="background-image: url('/static/img/codebugspic.jpg'); opacity:0.7" ></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 order-lg-1   my-auto showcase-text"  >
          <br><br></r><h2>Fully Responsive Design</h2>
          <p class="  ">Wolf prey digital was built to track and manage bugs in software development. Our issue tracking software enables any business to record and follow the progress of every problem or “issue” that a computer system identifies until the problem is resolved.



Our new online community of wolves are reading to fix any problems you have in the near future.</p>
<br><br>
        </div>
      </div>
      
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('/static/img/projectpic.jpg');"></div>
        <div class=" col-xs-12 col-lg-6 col-sm-12 col-md-12 my-auto showcase-text " >
          <br><br><h2>Enhance your projects</h2>
          <p class="">Deplayed projects can cost businesses huge amount of money, time and resources. We pride our on making sure your projects get back on track as soon as possible so your business can meet your monthly targets. ware.  We have top quality web developers who specialise in leading and managing large business projects. </p>
        <br><br></div>
      </div>
      
      
      
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white  showcase-img" style="background-image: url('/static/img/analysis-pic.jpg');"></div>
        <div class=" col-xs-12 col-lg-6 order-lg-1  col-sm-12 col-md-12 my-auto showcase-text ." >
          <br><br><h2>Prioritize & rank bugs</h2>
          <p class=" ">Once the online wolves captured bugs, they then rank and prioritize them based on the importance,urgency of the issue and the team's workload capacity. 

Assigning and describing bugs can be done with just a few clicks which is called a "ticket" and we are then able to prioritize these bugs is as simple as dragging and dropping them in your team's backlog or To Do column. 

Keeping these bugs in one source or page, you can keep everyone (online community) on the same wave link and ensure the team is working on the highest priority items first.</p>
        <br><br></div>
      </div>
    </div>


</section>

{% endblock maincontent %}
